
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  display: block;
  min-width: 320px;
  background: var(--bg);
  color: var(--text);
}
